<app-shedule [period]="15" [shedule]="shedule" [blocked]="blocked$ | async" (onSelect)="onPeriodSelected($event)" (onConfirm)="onPeriodConfirmed($event)"></app-shedule>
<!--<router-outlet></router-outlet>-->
