<div class="container">
  <p-calendar [(ngModel)]="selectedDate"
              (ngModelChange)="onDateChanged($event)"
              [inline]="true"
              [disabledDates]="disableDates"
              [disabledDays]="disableDays"
              [minDate]="minDate"
  ></p-calendar>
  <div class="hour-line-container" [ngClass]="{'has-selection': selectedIntrevals.length > 0}">
    <div class="hour-line" *ngFor="let hourLine of hourLines; let i=index;">
      <div class="task-interval"
           *ngFor="let taskInterval of hourLine; let j=index;"
           [ngClass]="{
             reserved: taskInterval.status === IntervalStatus.Reserved,
             blocked: taskInterval.status === IntervalStatus.Blocked,
             selected: taskInterval.status === IntervalStatus.Selected,
             'tmp-blocked': taskInterval.tmpBlocked
           }"
           (click)="toggle(i, j)">
        <!--ToDo: Refactor reflection to pipe-->
        {{taskInterval.time.hour}}:{{taskInterval.time.minutes | number:'2.0-0'}}
        <span *ngIf="j >= hourLine.length - 1">
           - {{taskInterval.time.minutes + period < 60 ? taskInterval.time.hour : taskInterval.time.hour + 1}}:{{(taskInterval.time.minutes + period < 60 ? taskInterval.time.minutes + period : taskInterval.time.minutes + period - 60) | number:'2.0-0'}}
        </span>
      </div>
    </div>
    <div *ngIf="selectedIntrevals.length > 0" class="actions">
      <button pButton type="button" label="Confirm" class="ui-button-rounded" (click)="onConfirm()"></button>
      <button pButton type="button" label="Clear" class="ui-button-rounded ui-button-secondary" (click)="onClear()"></button>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
