.container {
  display: flex;

  p-calendar {
    flex-grow: 1;
  }
}

.hour-line-container {
  flex-grow: 20;
  flex-shrink: 2;
  flex-basis: 65%;
}

.hour-line {
  display: flex;
  margin: 3px 0;
}


.task-interval {
  flex-grow: 1;
  flex-basis: 100px;
  padding: 10px;
  margin: 0 3px;
  text-align: center;
  background: #f5f5f5;
}

.task-interval.reserved, .task-interval.disabled, .task-interval.blocked {
  background: lightgrey;
  color: grey;
}

.task-interval.selected {
  background: lightgreen;
}

.task-interval.tmp-blocked {
  color: grey;
}

.task-interval:hover {
  cursor: pointer;
}

.has-selection .task-interval:hover {
  cursor: copy;
}
.has-selection .task-interval.selected:hover {
  cursor: pointer;
}
.has-selection .task-interval.tmp-blocked:hover {
  cursor: no-drop;
}


.task-interval.reserved:hover, .task-interval.blocked:hover {
  cursor: default !important;
}
